body {
    background: #20002c;
    /* background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);
    background: linear-gradient(to right, #cbb4d4, #20002c); */
}

.blur {
    /* position: absolute; */
    margin: 10px;
    bottom: 25px;
    right: 162px;
    width: 800px;
    height: 500px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h1, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    padding-left: 1rem;
    text-decoration: none;
}

h3 {
    display: inline-block;
    color: #20002c;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #20002c;
}

ol, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: left;
    padding-left: 1rem;
    margin-left: 2rem;
}

.check {
    width: 25px;
}